*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width:100vw;
    height:100vh;
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-info{
    color:white;
    position: absolute;
    top:3rem;   
    background-color: rgba(255,255,255,0.15); 
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding:0.5rem 3rem;
    text-align: center;
}

.tic-tac-toe{
    width:90%;
    max-width:20rem;
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding:2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;

}

.box{
    position: relative;
    width:100%;
    aspect-ratio: 1/1;
    cursor:pointer;
    font-size:3rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box1, #box2, #box4, #box5{
    border-right:2px solid white;
    border-bottom: 2px solid white;
}

#box3, #box6{
    border-bottom:2px solid white;
}

#box7, #box8{
    border-right:2px solid white;
}

.btn{
    color:white;
    position: absolute;
    bottom:3rem;
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;   
    transition: scale 0.5s ease-in-out;
    display: none;
}
.btn:hover{
    scale:1.2;
}
.btn.active{
    display:flex;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}